@media screen and (min-width: 1020px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }

    #menu {
        display: none;
    }

    .container {
        position: relative;
        height: auto;

    }

    .data {
        position: absolute;
        top: 10px;
        left: 120px;
        background: rgb(0, 0, 0);
        background: rgba(252, 252, 252, 0.8);
        height: 250px;
        width: 30%;
        padding: 20px;
        color: black;

    }

    .dataTwo {
        position: relative;
        bottom: 250px;
        float: right;
        right: 30px;
        background: rgb(0, 0, 0);
        background: rgba(252, 252, 252, 0.8);
        width: 30%;
        padding: 20px;
        color: black;
    }

    h2 {
        padding: 1em;
        width: 100%;
        margin-left: -3em;
        color: beige;

    }

    picture img {
        max-width: 80%;
        padding: 4em;
    }

    .containerTwo {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 1520px) {
        .containerTwo {
            grid-template-columns: 1fr 1fr 1fr;
        }

    }
}