:root {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main {
    background-color: white;
}

header {
    background-color: #F8A31A;


}

h1 {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 700;
    font-size: 3em;
    font-style: normal;
    text-align: center;
}



a {
    text-decoration: none;
}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    padding: .5rem .75rem;
    color: beige;
}

#menu::before {
    position: absolute;
    right: 10px;
    top: 14px;
    content: "☰";
}


nav {
    width: 600px;
}

.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    color: beige;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover {
    background-color: black;
}

.show li {
    display: block;
}

#menu.show::before {
    position: absolute;
    right: 10px;
    top: 14px;
    content: "\00d7";
}

section {
    display: grid;
    place-items: center;
} 

h2 {
    background-color: rgb(189, 55, 55);
    color: beige;
    text-align: center;
    font-weight: 500;
    font-style: normal;
}

picture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



footer {
    background-color: #272635;
    padding: 1em;
    color: beige;
    text-align: center;
}

p {
    text-align: center;
}

#titleFont {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 700;
    font-size: 3em;
    font-style: normal;
    text-align: center;
}

#mainFont {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}